# Example OpenAPI YAML to get you started quickly.
# Note: YAML has indentation based coping.
# Code completion support is available so start typing for
# available options.
# This example follows the recommendations of the API 
# Improvement Proposals for common API patterns. Find more
# at https://google.aip.dev/

# Find the full OpenAPI reference at:
# https://github.com/OAI/OpenAPI-Specification
openapi: "3.0.0"

info:
  version: "0.3.4-beta"
  title: Reasonable Adjustments API
  description: |
    ## Overview
    Use this guide to access the [Reasonable Adjustments API](https://digital.nhs.uk/services/reasonable-adjustment-flag). The API aims to better support the delivery of care by opening up nationally stored information and data about Reasonable Adjustments that patients want to share with healthcare professionals.
    
    You can:
    - Create Consent
    - Create Flag
    - Create Condition
    
    
    - Read Consent
    - Read Flag
    - Read List
    
    
    - Update Consent
    - Update Flag
    - Update Condition

    - Remove RA Record
    
    Currently, this API can only be accessed by healthcare professionals, authenticated with an NHS smartcard or equivalent. Unauthenticated access and citizen access are on the [roadmap](https://nhs-digital-api-management.featureupvote.com/?order=popular&filter=allexceptdone&tag=pds-fhir-api).

    ## Legal Use
    This API can only be used where there is a [legal basis](http://digital.nhs.uk/services/demographics/access-data-on-the-personal-demographics-service) to do so. You should [make an access request](https://digital.nhs.uk/services/demographics/access-data-on-the-personal-demographics-service) before you go too far with your development.

    You must have made this request before you can go live (see 'Onboarding' below).
    
    ## Related APIs
    [Personal Demographics Service (FHIR) API](https://portal.developer.nhs.uk/docs/personal-demographics-int/1/overview)
    
    [Female Genital Mutilation (FGM) Information Sharing Service](https://developer.nhs.uk/apis/fgm-v2.1/)
    
    [Child Protection Information Sharing - HL7 V3 API](https://digital.nhs.uk/services/child-protection-information-sharing-project/cp-is-domain-message-specification)
    
    [National Record Locator Service (FHIR) API](https://developer.nhs.uk/apis/nrl/)

    ## API Status and Roadmap
    All endpoints are in [beta](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#api-status) - expect further breaking changes.
    
    The following items are on our roadmap:
      - Basic analytics
      - Smartcard access
      - Implement _status endpoints
      - Implement proxy
      - Implement rate limiting
      
    We are extremely keen to receive feedback on the API during alpha and beta, for example if there are data fields missing that you think you need. [Get in touch](https://digital.nhs.uk/developer/help-and-support) with any comments or suggestions.

    ## Technology
    This API is [RESTful](https://digital.nhs.uk/developer/guides-and-documentation/api-technologies-at-nhs-digital#basic-rest-apis). And is available via the Internet, and over the [Health and Social Care Network (HSCN)](https://digital.nhs.uk/services/health-and-social-care-network). It also conforms to the [FHIR (STU3)](https://www.hl7.org/fhir/STU3/) global standard for health care data exchange, which is built on FHIR Release 3.
    
    You don’t need to know much about FHIR to use this API - FHIR APIs are just RESTful APIs that follow specific rules. In particular:
    - resource names are capitalised and singular, for example `/Patient` not `/patients`
    - array names are singular, for example `line` not `lines` for address lines
    - data items that are country-specific and thus not included in the FHIR global base resources are usually wrapped in an `extension` object

    ## Network Access
    This API is available on the Internet, although access using NHS smartcards (see below) currently requires a connection to the [Health and Social Care Network (HSCN)](https://digital.nhs.uk/services/health-and-social-care-network).

    For more details see [Network access for APIs](https://digital.nhs.uk/developer/guides-and-documentation/network-access-for-apis).
    
    ## Authorisation
    This API is [user-restricted](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#user-restricted-apis), meaning an end user must be present and authenticated to use it.
    The end user must be:
    - a healthcare professional
    - strongly authenticated, using either an NHS smartcard or a modern alternative

    The API uses an OAuth Access (bearer) token, specifically an encoded JSON web token to authorise the calling system. The general specification of this token, what should be in it, and how it can be generated can be found in the [Spine Core API spec](https://developer.nhs.uk/apis/spine-core/security_jwt.html).
    
    
    ## Environments and Testing
    You can test this API in:
      - our [sandbox environment](https://digital.nhs.uk/developer/guides-and-documentation/testing#sandbox-testing) for initial developer testing.
      - our [integration test environment](https://digital.nhs.uk/developer/guides-and-documentation/testing#integration-testing) for formal integration testing.
    
      Our sandbox environment is a very basic simulation of the live service. It only covers a limited set of scenarios and is stateless, so does not actually persist any updates.
    
    ## Resources
    For information on the resources used within the FHIR® Reasonable Adjustments API go to:
    
    [https://dev-reasonable-adjust-beta.netlify.app/explore.html](https://dev-reasonable-adjust-beta.netlify.app/explore.html)
    
    ## Onboarding
    More details and documentation to come.

  contact:
    name: API Management Support
    email: api.management@nhs.net

servers:
  - url: 'https://sandbox.api.service.nhs.uk/reasonable-adjustments'
    description: Sandbox environment.

paths:
  /consent:
    post:
      summary: Create Consent
      description: Create a Consent resource, profiled as [RARecord-Consent-1](https://fhir.nhs.uk/STU3/StructureDefinition/RARecord-Consent-1), for a patient to record Reasonable Adjustment [Impairment](https://www.gov.uk/definition-of-disability-under-equality-act-2010) and [Adjustment](https://www.gov.uk/government/publications/reasonable-adjustments-a-legal-duty/reasonable-adjustments-a-legal-duty) information.
      operationId: postConsent
      parameters:
      - $ref: '#/components/parameters/BearerAuthorization'
      - $ref: '#/components/parameters/RoleId'
      - $ref: '#/components/parameters/CorrelationID'
      - $ref: '#/components/parameters/RequestID'
      requestBody:
        description: Create consent
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: components/schemas/createConsent.yaml
            examples:
              success:
                value:
                  $ref: components/examples/createConsent.json           
      responses:
        '201':                                                      
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Date:
                    type: string
                    format: date-time
                    example: Tue, 23 Jul 2018 11:00:00 GMT
                  Last-Modified:
                    type: string
                    format: date-time
                    example: 2018-07-23T11:00:00+00:00
                  Location:
                    type: string
                    example: 
                  ETag:
                    type: string
                    example: resourceVID
                  Content-Type:
                    type: string
                    example: application/fhir+json
      tags:
        - Endpoints              
                    
    get:
      summary: Read Consent
      description: Read a Consent resource, profiled as [RARecord-Consent-1](https://fhir.nhs.uk/STU3/StructureDefinition/RARecord-Consent-1), of a patient.
      operationId: readConsent
      parameters: 
      - $ref: '#/components/parameters/patient'
      - $ref: '#/components/parameters/status'
      - $ref: '#/components/parameters/category'
      - $ref: '#/components/parameters/BearerAuthorization'
      - $ref: '#/components/parameters/RoleId'
      - $ref: '#/components/parameters/CorrelationID'
      - $ref: '#/components/parameters/RequestID'
      responses:
        '200':                                                      
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Date:
                    type: string
                    format: date-time
                    example: Tue, 23 Jul 2018 11:00:00 GMT
                  Content-Type:
                    type: string
                    example: application/fhir+json                
      tags:
        - Endpoints
  
  /consent/{consentID}:    
    put:
      summary: Update Consent
      description: Update a Consent resource, profiled as [RARecord-Consent-1](https://fhir.nhs.uk/STU3/StructureDefinition/RARecord-Consent-1), of a patient  to record Reasonable Adjustment [Impairment](https://www.gov.uk/definition-of-disability-under-equality-act-2010) and [Adjustment](https://www.gov.uk/government/publications/reasonable-adjustments-a-legal-duty/reasonable-adjustments-a-legal-duty) information.
      operationId: updateConsent
      parameters:
      - $ref: '#/components/parameters/BearerAuthorization'
      - $ref: '#/components/parameters/RoleId'
      - $ref: '#/components/parameters/CorrelationID'
      - $ref: '#/components/parameters/RequestID'
      - $ref: '#/components/parameters/consentID' 
      requestBody:
        description: Update record
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: components/schemas/updateFlag.yaml
            examples:
              success:
                value:
                  $ref: components/examples/updateFlag.json     
      responses:
        '200':                                                      
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Date:
                    type: string
                    format: date-time
                    example: Tue, 23 Jul 2018 11:00:00 GMT
                  Last-Modified:
                    type: string
                    format: date-time
                    example: 2018-07-23T11:00:00+00:00
                  ETag:
                    type: string
                    example: resourceVID
                  Content-Type:
                    type: string
                    example: application/fhir+json                
      tags:
        - Endpoints    
        
  /flag:
    post:
      summary: Create Flag
      description: Create a Flag resource, profiled as [RARecord-Flag-1](https://fhir.nhs.uk/STU3/StructureDefinition/RARecord-Flag-1/_history/0.0.5), for a patient to record specific [Adjustments - as defined under the Equality Act (2010)](https://www.gov.uk/government/publications/reasonable-adjustments-a-legal-duty/reasonable-adjustments-a-legal-duty), that are identified by the patient, or supporting healthcare professional.
      operationId: postFlag
      parameters:
      - $ref: '#/components/parameters/BearerAuthorization'
      - $ref: '#/components/parameters/RoleId'
      - $ref: '#/components/parameters/CorrelationID'
      - $ref: '#/components/parameters/RequestID'
      requestBody:
        description: Create flag
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: components/schemas/createFlag.yaml
            examples:
              success:
                value:
                  $ref: components/examples/createFlag.json 
              
      responses:
        '201':                                                      
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Date:
                    type: string
                    format: date-time
                    example: Tue, 23 Jul 2018 11:00:00 GMT
                  Last-Modified:
                    type: string
                    format: date-time
                    example: 2018-07-23T11:00:00+00:00
                  Location:
                    type: string
                    example: 
                  ETag:
                    type: string
                    example: resourceVID
                  Content-Type:
                    type: string
                    example: application/fhir+json
      tags:
        - Endpoints              
                    
    get:
      summary: Read Flag
      description: Read a Flag resource, profiled as [RARecord-Flag-1](https://fhir.nhs.uk/STU3/StructureDefinition/RARecord-Flag-1/_history/0.0.5), of a patient.
      operationId: readFlag
      parameters: 
      - $ref: '#/components/parameters/patient'
      - $ref: '#/components/parameters/status'
      - $ref: '#/components/parameters/category'
      - $ref: '#/components/parameters/BearerAuthorization'
      - $ref: '#/components/parameters/RoleId'
      - $ref: '#/components/parameters/CorrelationID'
      - $ref: '#/components/parameters/RequestID'
      responses:
        '200':                                                      
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Date:
                    type: string
                    format: date-time
                    example: Tue, 23 Jul 2018 11:00:00 GMT
                  Content-Type:
                    type: string
                    example: application/fhir+json                
      tags:
        - Endpoints
  
  /flag/{flagID}:    
    put:
      summary: Update Flag
      description: Update a Flag resource, profiled as [RARecord-Flag-1](https://fhir.nhs.uk/STU3/StructureDefinition/RARecord-Flag-1/_history/0.0.5), of a patient to record specific [Adjustments - as defined under the Equality Act (2010)](https://www.gov.uk/government/publications/reasonable-adjustments-a-legal-duty/reasonable-adjustments-a-legal-duty), that are identified by the patient, or supporting healthcare professional.
      operationId: updateFlag
      parameters:
      - $ref: '#/components/parameters/BearerAuthorization'
      - $ref: '#/components/parameters/RoleId'
      - $ref: '#/components/parameters/CorrelationID'
      - $ref: '#/components/parameters/RequestID'
      - $ref: '#/components/parameters/If-Match'
      - $ref: '#/components/parameters/flagID'
      requestBody:
        description: Update flag
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: components/schemas/updateFlag.yaml
            examples:
              success:
                value:
                  $ref: components/examples/updateFlag.json        
      responses:
        '200':                                                      
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Date:
                    type: string
                    format: date-time
                    example: Tue, 23 Jul 2018 11:00:00 GMT
                  Last-Modified:
                    type: string
                    format: date-time
                    example: 2018-07-23T11:00:00+00:00
                  ETag:
                    type: string
                    example: resourceVID
                  Content-Type:
                    type: string
                    example: application/fhir+json
        '409':
          description: CONFLICT
          content:
            application/json:
              schema:
                type: object
                properties:
                  Date:
                    type: string
                    format: date-time
                    example: Tue, 23 Jul 2018 11:00:00 GMT
                  Content-Type:
                    type: string
                    example: application/fhir+json           
      tags:
        - Endpoints 
  
  /list:
    post:
      summary: Create List
      description: Create a List resource, profiled as [CareConnect-RARecord-List-1](https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-RARecord-List-1), for a patient to contain new Impairment resource.
      operationId: postList
      parameters:
      - $ref: '#/components/parameters/BearerAuthorization'
      - $ref: '#/components/parameters/RoleId'
      - $ref: '#/components/parameters/CorrelationID'
      - $ref: '#/components/parameters/RequestID'
      requestBody:
        description: Create list
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: components/schemas/createList.yaml
            examples:
              success:
                value:
                  $ref: components/examples/createList.json 
              
      responses:
        '201':                                                      
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Date:
                    type: string
                    format: date-time
                    example: Tue, 23 Jul 2018 11:00:00 GMT
                  Last-Modified:
                    type: string
                    format: date-time
                    example: 2018-07-23T11:00:00+00:00
                  Location:
                    type: string
                    example: 
                  ETag:
                    type: string
                    example: resourceVID
                  Content-Type:
                    type: string
                    example: application/fhir+json
      tags:
        - Endpoints              
                    
    get:
      summary: Read List
      description: Read a List resource, profiled as [CareConnect-RARecord-List-1](https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-RARecord-List-1), of a patient that contains Impairment resource within the List resource.
      operationId: readList
      parameters: 
      - $ref: '#/components/parameters/patient'
      - $ref: '#/components/parameters/status'
      - $ref: '#/components/parameters/code'
      - $ref: '#/components/parameters/BearerAuthorization'
      - $ref: '#/components/parameters/RoleId'
      - $ref: '#/components/parameters/CorrelationID'
      - $ref: '#/components/parameters/RequestID'
      responses:
        '200':                                                      
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Date:
                    type: string
                    format: date-time
                    example: Tue, 23 Jul 2018 11:00:00 GMT
                  Content-Type:
                    type: string
                    example: application/fhir+json                
      tags:
        - Endpoints
  
  /list/{listID}:    
    put:
      summary: Update List
      description: Update a List resource, profiled as [CareConnect-RARecord-List-1](https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-RARecord-List-1), of a patient.
      operationId: updateList
      requestBody:
        description: Update list
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: components/schemas/updateList.yaml
            examples:
              success:
                value:
                  $ref: components/examples/updateList.json 
      parameters: 
      - $ref: '#/components/parameters/BearerAuthorization'
      - $ref: '#/components/parameters/RoleId'
      - $ref: '#/components/parameters/CorrelationID'
      - $ref: '#/components/parameters/RequestID'
      - $ref: '#/components/parameters/If-Match'
      - $ref: '#/components/parameters/listID'
      responses:
        '200':                                                      
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Date:
                    type: string
                    format: date-time
                    example: Tue, 23 Jul 2018 11:00:00 GMT
                  Last-Modified:
                    type: string
                    format: date-time
                    example: 2018-07-23T11:00:00+00:00
                  ETag:
                    type: string
                    example: resourceVID
                  Content-Type:
                    type: string
                    example: application/fhir+json
        '409':
          description: CONFLICT
          content:
            application/json:
              schema:
                type: object
                properties:
                  Date:
                    type: string
                    format: date-time
                    example: Tue, 23 Jul 2018 11:00:00 GMT
                  Content-Type:
                    type: string
                    example: application/fhir+json  
      tags:
        - Endpoints
        
  /removerarecord:
    post:
      summary: Remove RA Record
      description: Remove an RA Record by providing a Removal Reason to trigger the system to inactivate all Reasonable Adjustment resources for a Patient.
      operationId: removeRecord
      requestBody:
        description: Remove RA record
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: components/schemas/removerarecord.yaml
            examples:
              success:
                value:
                  $ref: components/examples/removerarecord.json                    
      parameters:
      - $ref: '#/components/parameters/patient'
      - $ref: '#/components/parameters/removalReason'
      - $ref: '#/components/parameters/supportingComment'
      - $ref: '#/components/parameters/BearerAuthorization'
      - $ref: '#/components/parameters/RoleId'
      - $ref: '#/components/parameters/CorrelationID'
      - $ref: '#/components/parameters/RequestID'
      responses:
        '200':                                                      
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Date:
                    type: string
                    format: date-time
                    example: Tue, 23 Jul 2018 11:00:00 GMT
                  Content-Type:
                    type: string
                    example: application/fhir+json
      tags:
        - Endpoints    

components:
  parameters:
    nhsNumber:
      name: nhsNumber
      in: query
      required: true
      description: ID number of a patient
      schema:
        type: object
        properties:
          name:
            type: string
            example: "nhsNumber"
          valueString:
            type: string
            example: "999999998"
    removalReason:
      name: removalReason
      in: query
      required: true
      description: Code recording Removal Reason
      schema:
        type: object
        properties:
          name:
            type: string
            example: "removalReason"
          valueCodeableConcept:
            type: object
            properties:
              coding:
                type: array
                items:
                  type: object
                  properties:
                    system:
                      type: string
                      example: "https://fhir.nhs.uk/STU3/CodeSystem/CodeSystem-RARecord-RemovalReason-1"
                    code:
                      type: string
                      example: "DoesntApply"
                    display:
                      type: string
                      example: "The Reasonable Adjustment Flag no longer applies to the patient"
    supportingComment:
      name: supportingComment
      in: query
      required: true
      description: Comment supporting Removal Reason
      schema:
        type: object
        properties:
          name:
            type: string
            example: "supportingComment"
          valueString:
            type: string
            example: "No longer applies"    
    If-Match:
      name: If-Match
      in: header
      required: true
      description: Latest known version identifier enclosed in quotes preceded by `W/`.
      schema:
        type: string
        example: "aa755bd6-2be9-4971-972a-6724879c5cb1"
    consentID:
      name: consentID
      in: path
      required: true
      description: The id of the record
      schema:
        type: string
        example: "1"
    flagID:
      name: flagID
      in: path
      required: true
      description: The id of the flag
      schema:
        type: string
        example: "1"
    listID:
      name: listID
      in: path
      required: true
      description: The id of the list
      schema:
        type: string
        example: "1"    
    patient:
      name: patient
      in: query
      required: true
      description: The id of the patient
      schema:
        type: string
        example: "9999999998"    
    status:
      name: status
      in: query
      required: true
      description: status
      schema:
        type: string
        example: "active" 
    category:
      name: category
      in: query
      required: true
      description: category
      schema:
        type: string
        example: "https://fhir.nhs.uk/STU3/CodeSystem/CodeSystem-RARecord-FlagCategory-1|reasonable%20adjustments%20flag&_format=json"
    code:
      name: code
      in: query
      required: true
      description: code
      schema:
        type: string
        example: "http://snomed.info/sct|1094391000000102&_format=json"
    RoleId:
      name: NHSD-Session-URID
      in: header
      required: false
      description: |
        A User Role ID (URID), also known as a User Role Profile ID (URPID), specifies the role the user is acting in.
        A URID belongs to a user (they are not generic) and a user may have more than one.
        Find out more about [User role ID](https://digital.nhs.uk/developer/user-restricted-restful-apis#user-completes-authentication-and-authorisation)
        **Note: This parameter is required unless interacting with the Sandbox.**
      schema:
        type: string
        pattern: '^[0-9]+$'
        example: '555021935107'
    BearerAuthorization:
      name: Authorization
      in: header
      required: false
      description: |
        An [OAuth 2.0 bearer token](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#user-restricted-apis).
        **Note: This parameter is required unless interacting with the Sandbox.**
      schema:
        type: string
        format: '^Bearer\ [[:ascii:]]+$'
        example: 'Bearer g1112R_ccQ1Ebbb4gtHBP1aaaNM'
    CorrelationID:
      name: X-Correlation-ID
      in: header
      required: false
      description: |
        An identifer should be created when making a request, this will assist with any problems that may occur and should be included when an issue is raised with the helpdesk.
        It should ideally be a unique value to make message tracing easier and we would advise that there are no `.` characters, but these are not enforced.
        This will be mirrored back in the response headers.
      schema:
        type: string
        example: 11C46F5F-CDEF-4865-94B2-0EE0EDCC26DA
    RequestID:
      name: X-Request-ID
      in: header
      required: false
      description: |
        A **globally unique identifer (GUID)** should be created when making a request, this will be used in message de-duplication, meaning if you need to replay any messages an identical response will be returned as the first time.
        The identifer must be a universally unique identifier (UUID) (ideally version 4).
        This will be mirrored back in the response headers.
        **Note: This parameter is required for `update`, `get` and `search` unless interacting with the Sandbox.**
      schema:
        type: string
        pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
        example: 60E0B220-8136-4CA5-AE46-1D97EF59D068
tags:
- name: Reasonable Adjustments 